<div class='sync-xliff-files__row'>
    <div class='sync-xliff-files__file-upload'>
        <button mat-raised-button
                color='accent'
                (click)='sourceLanguageFilePicker.click()'>
            <form #sourceLanguageFilePickerForm
                  style='position: absolute;visibility: hidden;'>
                <input #sourceLanguageFilePicker
                       type='file'
                       multiple
                       accept='application/xliff+xml, application/x-xliff+xml, .xlf'
                       title=' '
                       (change)='sourceLanguageFile = $event.target.files[0]'>
            </form>
            <mat-icon>cloud_upload</mat-icon>
            <label>Upload source language file</label>
        </button>
        <span class='sync-xliff-files__uploaded-file-name'>
            {{sourceLanguageFile?.name}}
        </span>
    </div>
    <div class='sync-xliff-files__file-upload'>
        <button mat-raised-button
                color='accent'
                (click)='targetLanguageFilePicker.click()'>
            <form #targetLanguageFilePickerForm
                  style='position:absolute;visibility:hidden;'>
                <input #targetLanguageFilePicker
                       type='file'
                       multiple
                       accept='application/xliff+xml, application/x-xliff+xml, .xlf'
                       title=' '
                       (change)='targetLanguageFile = $event.target.files[0]'>
            </form>
            <mat-icon>cloud_upload</mat-icon>
            <label>Upload target language file</label>
        </button>
        <span class='sync-xliff-files__uploaded-file-name'>
            {{targetLanguageFile?.name}}
        </span>
    </div>
</div>
<div class='sync-xliff-files__row'>
    <button mat-raised-button
            color='primary'
            [disabled]='sourceLanguageFile === null || targetLanguageFile === null'
            (click)='syncSourceAndTargetXliffFiles(); sourceLanguageFilePickerForm.reset(); targetLanguageFilePickerForm.reset()'>
        <mat-icon>sync</mat-icon>
        <label>Sync</label>
    </button>
</div>

<div class='sync-xliff-files__row'>
    <h1>
        <header>Messages</header>
    </h1>
    <div class='sync-xliff-files__messages'>
        <div *ngFor='let message of messages'
             class='sync-xliff-files__message'>
            {{message}}
        </div>
    </div>
</div>